*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --white-clr: #fff;
    --black-clr: #000;
    --light-black: #333;
    --primary-clr: #e6303d;
    --secondary-clr: #eee;
    --tag-clr: #7cc576; 
}

/* Basic Style */
li{
    list-style: none;
}

a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform .3s ease-in-out;
}

/* Navbar */

header{
    background-color: #fff;
    box-shadow: 0px 0px 10px gray;
}

.navbar{
    height: 11vh;
    justify-content: space-between;
    max-width: 85%;
    margin: auto;
}

.navlist{
    gap: 3rem;
}

.navbar, .navlist{
    display: flex;
    align-items: center;
}

.logo{
   font-size: 1.8rem;
   font-weight: bold;
   color: var(--light-black);
}

span{
    color: var(--primary-clr);
}

.link{
    font-size: .95rem;
    color: var(--light-black);
    font-weight: 500;
}


.icon{
    margin: .8rem;
    font-size: 1rem;
    color: var(--light-black);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
}

.icon:hover{
    background: var(--secondary-clr);
}

.link-active, 
.link:hover,
.icon:hover{
    color: var(--primary-clr);
}

.hamburger{
    font-size: 1.7rem;
    color: var(--primary-clr);
    display: none;
}



